/* Import the 'Kanit' font family from Google Fonts with italic style and 500 weight */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500&display=swap');

/* Apply universal styles to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Apply the 'Kanit' font family to the entire document */
body {
    font-family: 'Kanit', sans-serif;
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the game content */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 40px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35); /* Shadow effect */
    border-radius: 10px;
    max-width: 400px;
}

/* Styling for the flag image */
.flag-container {
    margin-bottom: 20px;
}

#flag-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for the input field */
input[type="text"] {
    padding: 12px;
    font-size: 16px;
    width: calc(100% - 24px); /* Calculate width minus padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Styling for the submit button */
button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #e306f7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e608da;
}

/* Styling for the result message */
p#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
